
.item-menu__link-block {
    width: 12vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.66vw;
    cursor: pointer;
}
.item-menu__link-noActive {
    width: 12vw;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #100f0f;
    border-bottom: 2px solid rgba(219, 231, 255, 1);
    transition: 0.2s;
    cursor: pointer;
}
.item-menu__link-noActive:hover{
    color: rgba(237, 107, 106, 1);
    border-bottom: 2px solid rgba(237, 107, 106, 1);
}
.item-menu__link:hover{
    color: rgba(237, 107, 106, 1);
    border-bottom: 2px solid rgba(237, 107, 106, 1);
}

.item-menu__link {
    width: 100%;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color: #100f0f;
    padding: 10px 0;
    border-bottom: 2px solid rgba(219, 231, 255, 1);
    transition: 0.2s;
}

.item-menu__link-active {
    padding: 10px 0px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color: rgba(237, 107, 106, 1);
    border-bottom: 2px solid rgba(237, 107, 106, 1);
}